# Python
*.pyc
__pycache__/

# DB
*.sqlite3
*.sqlite3-journal
*.log
db.sqlite3

# Environment & Secrets
.env
.env.*
*.pem
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Virtual Environment
venv/

# Static and Media Files
staticfiles/
media/
profile_pics

# Editor Config
.vscode/
.idea/


# Build Files
*.egg-info/
dist/
build/

# Testing
.coverage
htmlcov/
.pytest_cache/
nosetests.xml
coverage.xml

# Local/Custom Settings
local_settings.py

# AWS & SSH Keys (for connecting my EC2 instance to SSH )
*.pem     
blogkeypair.pem   

celerybeat-schedule*
*.thumbnail
