{%  extends "blog/base.html"  %}

{% load crispy_forms_tags %}
    
{% block content %}  {# Start of content block to be inserted into the base template #}


<!-- Login Form Container -->
<div class="content-section">      

    <!-- Login Form Start -->
    <form method='POST'>
        {% csrf_token %}
        <fieldset class="form-group">  
            <legend class="border-bottom mb-4">Log In</legend>
              {{form|crispy }} {# Renders form fields with  crispy formatting with Bootstrap styling #}
        </fieldset>

        <!-- Login button aligned to center -->
        <div class="col-md-6 offset-md-3 ">
            <div class="form-group text-center">
                  <button class="btn btn-outline-info" type="submit">Login</button>                    
            </div>
        </div>  
    </form> 

    <!-- Link to Registration Page -->
    <div class=" col-md-6 offset-md-3 text-center">
      <small class="text-muted">
          Need An Account ?  <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
      </small>
    </div>  
</div>

{% endblock %}

