<!DOCTYPE html>
<html>
<head>
  <title>Donation Canceled</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <section style="text-align: center; margin-top: 50px;">
    <h2>Donation Canceled</h2>
    <p>You canceled your donation.</br>No hard feelings ! Try again when you feel like it again.</p>
    <a href="{% url 'blog_home' %}" style="display: inline-block; margin-top: 20px; text-decoration: none; color: white; background-color: #4CAF50; padding: 10px 20px; border-radius: 5px;">
      Back to Home
    </a>
  </section>
</body>
</html>

