{%  extends "blog/base.html"  %}
    
{% block content %}

<!-- 
    'object' is default context object in DetailView  
    (since 'context_object_name' was not explicitly set in the view).
-->

<article class="media content-section">

    <!-- Display profile image of the post's author using the related user profile's image URL -->
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    
    <div class="media-body">
        <div class="article-metadata">
        <!-- Link to view all posts by the same author -->
        <a class="mr-2" href="{% url 'same_user_posts' object.author.username %}">{{ object.author }}</a>

        <small class="text-muted">{{ object.date_posted | date:"F d, Y" }}</small>
        </div>
    <h2><a class="article-title" href="#">{{ object.title }}</a></h2>
    <p class="article-content">Content Nature: {{ post.content_nature }}</p>

     <!-- Post body content -->
    <p class="article-content">{{ object.content }}</p>
    </div>
</article>

{% if user.is_authenticated and user == object.author %}
    <!-- Display edit options only for the post author -->
    <div class="col-md-5 offset-md-4">
        <div class="form-group">
            <a  href="{% url 'post_update' post.id %}" class="btn btn-secondary">Update</a>
            <a  href="#" class="btn btn-secondary" >Save</a>
            <a  href="{% url 'post_delete' post.id %}" class="btn btn-danger" >Delete</a>
        </div>
    </div>


{% endif %}
{% endblock %}

